.app {
  .brand {
    position: absolute;
    $size: 40px;
    top: 5px;
    left: 5px;
    display: inline-block;
    background: url('./twitter-icon.png') no-repeat center center;
    width: $size;
    height: $size;
    background-size: 100%;
    margin: 0 10px 0 0;
    border-radius: $size / 2;
  }
  nav :global(.fa) {
    font-size: 2em;
    line-height: 20px;
  }
}
.appContent {
  margin: 50px 0; // for fixed navbar
}

.appFooter {
  width: 100%;
  position:fixed;
  bottom:0;
  left:0;
  .footerText {
    border-top: 1px solid #e5e5e5;
    padding: 15px;
    background-color: whitesmoke;
    text-align: center;
  }
}