.app {
  .brand {
    position: absolute;
    $size: 40px;
    top: 5px;
    left: 5px;
    display: inline-block;
    background: url('./rubiks_cube_simple.svg') no-repeat center center;
    width: 34px;
    height: $size;
    background-size: 100%;
    margin: 0 10px 0 10px;
  }
  nav :global(.fa) {
    font-size: 2em;
    line-height: 20px;
  }
}
.appContent {
  margin: 50px auto; // for fixed navbar
}

.appFooter {
  width: 100%;
  position:fixed;
  bottom:0;
  left:0;
  .footerText {
    border-top: 1px solid #e5e5e5;
    padding: 15px;
    background-color: whitesmoke;
    text-align: center;
  }
}

.navbar-brand {
  padding-left: 60px !important;
}